@font-face {
    font-family: 'Inria Sans';
    src: url('fonts/InriaSans-Regular.woff2') format('woff2'),
        url('fonts/InriaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Inria Sans', Arial, sans-serif;
    background-color: #ccc;
}

/* Estilos para el menú */
#menu {
    background-color:darkgray;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-radius: 60px;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 100px;
}

#logo img {
    height: 80px;
    width: auto;
    padding-left: 25%;
}

.boton {
    background-color: #2A9D8F;
    border: none;
    color: black;
    padding: 15px 25px;
    margin-left: 10px;
    border-radius: 60px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.boton:hover {
    opacity: 0.7;
    border-radius: 0px;
}

/* FIN ESTILOS PARA MENÚ */

/* Estilos para el login del admin/conserge */

.loginDiv {
    margin: auto;
    text-align: center;
    background-color: #264653;
    border-radius: 60px;
    width: 600px;
    padding-bottom: 50px;
    padding-top: 10px;
    margin-top: 100px;
}

#labelNombre,
#labelContrasena {
    color: #E0F2E9;
    margin-right: 10px;
    text-align: right;
}

#nombre,
#contrasena {
    border-radius: 60px;
    background-color: #E0F2E9;
    border: none;
    height: 30px;
    text-align: left;
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.inputContainer label {
    flex: 1;
}

.inputContainer input {
    flex: 1;
    margin-left: 10px;
    margin-right: 20%;
    padding-left: 10px;
}

.titolLogin,
.titolGestioGuardies {
    color: #E0F2E9;
    padding-bottom: 50px;
}

.submitBoton {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 60px;
    background-color: #2A9D8F;
    color: #E0F2E9;
    border: none;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}

.submitBoton:hover {
    background-color: #60bdb2;
    border-radius: 0;
}

/* Fin de los estilos para el login del admin/conserge */


/* Estilos para Pagina Main del Admin (DIV triple) */

.container {
    display: flex;
    justify-content: center;
}

.container a {
    text-align: center;
    padding: 20px;
    background-color: #2A9D8F;
    border-radius: 60px;
    margin: 0 20px;
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;
}

.container a:hover {
    opacity: 0.7;
    border-radius: 0px;
}

.titolBenvingudaAdmin {
    padding: 50px 0px 50px 10px;
    width: 90%;
    margin: auto;
}

/* FIN Estilos para Pagina Main del Admin (DIV triple) */


/* Estilos para Drag&Drop de archivos del administrador */

.drop-area {
    border: 2px dashed #264653;
    padding: 40px 0px 40px 0px;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 20px;
    border-radius: 60px;
    width: 90%;
    margin: auto;
}

.drop-instruction {
    font-size: 18px;
}

.table-container {
    margin-top: 20px;
    background-color: #264653;

}

#data-table {
    background-color: #264653;
    border: none;
    border-radius: 60px;
    padding: 10px;
    margin: auto;
    width: 70%;
}

#data-table tr th {
    background-color: #2A9D8F;
    border-radius: 60px;
    border: none;
    padding: 20px;
    width: 50%;
}
#data-table tr td {
    background-color: #60bdb2;
    border-radius: 60px;
    border: none;
    padding: 10px;
    text-align: center;
}

/* Estilos para tabla Guardias Profesores de Admin */

.taulaGestioGuardiesAdmin table {
    margin: auto;
    width: 100%;
}

.taulaGestioGuardiesAdmin {
    margin: auto;
    text-align: center;
    background-color: #264653;
    border-radius: 60px;
    width: 90%;
    padding-bottom: 50px;
    padding-top: 10px;
    margin-top: 100px;
    border: none;
    padding-left: 2%;
    padding-right: 2%;
}

.taulaGestioGuardiesAdmin th {
    border: none;
    background-color: #2A9D8F;
    color: #E0F2E9;
    border-radius: 60px;
    padding: 1%;
    font-size: large;
}

.taulaGestioGuardiesAdmin td {
    border: none;
    font-size: large;
    padding: 1%;
    color: #E0F2E9;
    transition: all 0.2s ease-in-out;

}

.taulaGestioGuardiesAdmin td ul li {
    border: none;
    list-style: none;
}

.taulaGestioGuardiesAdmin td ul {
    text-align: center;
    padding-left: 0;
}

.profesores-clase-select {
    background-color: #2A9D8F;
    border-radius: 60px;
    padding: 2%;
    border-style: none;
    transition: all 0.2s ease-in-out;
    font-size: large;
    width: 60%;

}

.move-right-btn,
.move-left-btn {
    background-color: #2A9D8F;
    border-radius: 60px;
    padding: 5%;
    border-style: none;
    transition: all 0.2s ease-in-out;
}

.add-comment-btn {
    background-color: #2A9D8F;
    border-radius: 60px;
    padding: 10%;
    border-style: none;
    transition: all 0.2s ease-in-out;
    font-size: large;
}

#guardarButton, #pdfButton {
    background-color: #2A9D8F;
    border-radius: 60px;
    padding: 1%;
    border-style: none;
    transition: all 0.2s ease-in-out;
    font-size: large;
}

.profesores-clase-select:hover,
.move-left-btn:hover,
.move-right-btn:hover,
.add-comment-btn:hover,
#guardarButton:hover, #pdfButton:hover {
    opacity: 0.7;
    border-radius: 0;
}

li.faltados-list {
    color: #E0F2E9;
    font-size: large;
    list-style: none;
    padding: none;
}

.even {
    background-color: #E0F2E9;
    /* Color para filas pares */
}

.odd {
    background-color: #F9F9ED;
    /* Color para filas impares */
}

.data-actual {
    color: #E0F2E9;
    font-size: 30px;
}

/* Fin de estilos para tabla Guardias Profesores de Admin */

/* ESTILS RESPONSIVE PER A TABLET */

@media screen and (max-width: 768px) {

    .container a {
        flex: 1 0 45%;
        max-width: 45%;
    }
}

/* ESTILS RESPONSIVE PER A TELEFON */

@media screen and (max-width: 480px) {

    .taulaGestioGuardiesAdmin th,
    .profesores-clase-select,
    .taulaGestioGuardiesAdmin .hora,
    .taulaGestioGuardiesAdmin .faltados-list {
        font-size: 12px;
    }

    .move-left-btn,
    .move-right-btn {
        height: 30px;
        width: 30px;
    }

    .move-left-btn img,
    .move-right-btn img {
        height: 25px;
        width: 25px;
    }

    .container a {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .hidden-mobile {
        display: none;
    }

    #guardarButton, #pdfButton {
        margin-top: 5%;
        padding: 2%;
        font-size: 20px
    }

    .container {
        flex-direction: column; /* Cambiamos la dirección del contenedor a columna */
        align-items: center; /* Centramos los elementos horizontalmente */
    }
    
    .container a {
        flex: 1 0 calc(70% - 40px);
        padding: 8%;
        max-width: calc(70% - 40px);
        margin-bottom: 20px;
    }

    .boton {
        padding: 10px 15px;
        font-size: 11px;
    }
    
    #logo img{
        padding-left: 1%;
        height: 60px;
    }

    #menu {
        height: 50px;
    }

    #data-table tr th {
        font-size: 10px;
        padding: 5px;
    }

    #data-table tr td {
        font-size: 10px;
        padding: 5px;
    }

    .taulaGestioGuardiesAdmin td ul , .taulaGestioGuardiesAdmin td p {
        font-size: 10px;

    }
    td.hores {
        font-size: 10px;
    }

    .data-actual h2 {
        font-size: 20px;
    }

    .loginDiv {
        width: 300px;
    }

    .inputContainer input {
        margin-left: 1%;
        margin-right: 5%;
    }

    #labelContrasena, #labelNombre {
        font-size: 10px;
    }
}